<a href="https://colab.research.google.com/github/alyssapalms/colab-git-assignment2-ap/blob/main/Lesson_4_Assignment_Completed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lesson 4 Assignment**
### **Data Processing - Python Development and Pandas**

**Copy each task (including'Your code here:') to a different cell and complete the codes for each task. Add  your own comments where necessary**

Remember to push your changes to github and submit a PDF copy of your completed notebook with the outputs.

In [1]:
# Python and Pandas Assessment Notebook

import pandas as pd
import numpy as np
from functools import reduce

In [2]:
# Task 1: Create a DataFrame using Pandas
# Create a DataFrame with the following data:
# Name: Alice, Bob, Charlie, David
# Age: 25, 30, 35, 28
# City: New York, San Francisco, Los Angeles, Chicago

# Your code here:
import pandas as pd

df = pd.DataFrame({
'Name': ['Alyssa', 'Eloise', 'Jon', 'Finnegan'],
'Age': [33, 5, 34, 1],
'City': ['London', 'London', 'Montreal', 'Ottawa']
})

print(df)

       Name  Age      City
0    Alyssa   33    London
1    Eloise    5    London
2       Jon   34  Montreal
3  Finnegan    1    Ottawa

In [3]:
# Task 2: Row and Column Manipulation
# Drop the 'City' column from the DataFrame created in Task 1

# Your code here:

df_no_city = df.drop(columns=['City'])
print(df_no_city)

       Name  Age
0    Alyssa   33
1    Eloise    5
2       Jon   34
3  Finnegan    1

In [4]:
# Task 3: Handling Null Values
# Create a new DataFrame with some null values and fill them

# Your code here:

import pandas as pd

df_new = pd.DataFrame({
'Name': ['Lorraine', None, 'Aleksy', 'Andrew'],
'Age': [65, 70, None, 34],
'City': ['Calgary', 'London', 'London', None]
})

df_filled = df_new.fillna({'Name': 'Unknown', 'Age': 0, 'City': 'Unknown'})

print(df_filled)

       Name   Age     City
0  Lorraine  65.0  Calgary
1   Unknown  70.0   London
2    Aleksy   0.0   London
3    Andrew  34.0  Unknown

In [6]:
# Task 4: GroupBy and Describe
# Using the following DataFrame, group by 'Category' and describe the 'Value' column

df_group = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A', 'C'],
    'Value': [10, 20, 15, 25, 30, 35]
})

# Your code here:
grouped = df_group.groupby('Category')['Value'].describe()
print(grouped)

          count       mean        std   min    25%   50%    75%   max
Category
A           3.0  18.333333  10.408330  10.0  12.50  15.0  22.50  30.0
B           2.0  22.500000   3.535534  20.0  21.25  22.5  23.75  25.0
C           1.0  35.000000        NaN  35.0  35.00  35.0  35.00  35.0

In [7]:
# Task 5: Concatenation and Merging
# Concatenate two DataFrames vertically and merge them horizontally

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = pd.DataFrame({'C': [9, 10], 'D': [11, 12]})

# Your code here:

df_concat = pd.concat([df1, df2], ignore_index=True)

df_merged = pd.concat([df_concat, df3], axis=1)

print(df_merged)

   A  B     C     D
0  1  3   9.0  11.0
1  2  4  10.0  12.0
2  5  7   NaN   NaN
3  6  8   NaN   NaN

In [8]:
# Task 6: Tuples and Sets
# Create a tuple of fruits and a set of numbers.
# Then, try to add an element to each and observe the difference.

# Your code here:

fruits = ('apple', 'banana', 'cherry')
numbers = {1, 2, 3, 4, 5}

# Tuples are immutable so this would cause an error:
# fruits[0] = 'orange'

# Sets are mutable so we can add an element:
numbers.add(6)

print(fruits)
print(numbers)

('apple', 'banana', 'cherry')
{1, 2, 3, 4, 5, 6}

In [9]:
# Task 7: Dictionaries
# Create a dictionary of student names and their scores.
# Then, update a student's score and add a new student.

# Your code here:
students = {'Alice': 90, 'Bob': 85, 'Charlie': 78}

# update an existing student's score
students['Bob'] = 88

# add a new student
students['David'] = 92

print(students)

{'Alice': 90, 'Bob': 88, 'Charlie': 78, 'David': 92}

In [10]:
# Task 8: Functions and Lambda
# Create a function to calculate the square of a number.
# Then, use a lambda function to do the same.

# Your code here:
def square(x):
    return x ** 2

square_lambda = lambda x: x ** 2

print(square(5))
print(square_lambda(5))

25
25

In [11]:
# Task 9: Iterators and Generators
# Create an iterator for the first 5 even numbers.
# Then, create a generator for the same.

# Your code here:
# Iterator for first 5 even numbers
even_numbers = [x * 2 for x in range(5)]
for num in even_numbers:
    print(num, end=" ")

print()  # line break

# Generator for first 5 even numbers
def even_generator():
    for x in range(5):
        yield x * 2

for num in even_generator():
    print(num, end=" ")

0 2 4 6 8
0 2 4 6 8

In [13]:
# Task 10: Map, Reduce, and Filter
# Use map to square all numbers in a list.
# Use reduce to find the product of all numbers in a list.
# Use filter to get only even numbers from a list.

numbers = [1, 2, 3, 4, 5]

# Your code here:

In [15]:
# Task 11: Object-Oriented Programming - Creating a Class
# Create a class called 'Rectangle' with attributes 'length' and 'width'.
# Include methods to calculate area and perimeter.

# Your code here:

class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2 * (self.length + self.width)


# Create two Rectangle objects
rect1 = Rectangle(5, 10)
rect2 = Rectangle(3, 6)

# Display their area and perimeter
print("Rectangle 1 - Area:", rect1.area(), "Perimeter:", rect1.perimeter())
print("Rectangle 2 - Area:", rect2.area(), "Perimeter:", rect2.perimeter())

Rectangle 1 - Area: 50 Perimeter: 30
Rectangle 2 - Area: 18 Perimeter: 18

In [16]:
# Task 12: Pandas Data Analysis
# Using the following DataFrame, perform these tasks:
# 1. Find the average salary by department
# 2. Get the names of employees with salary > 60000
# 3. Add a new column 'Bonus' which is 10% of salary

df_employees = pd.DataFrame({
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie'],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR'],
    'Salary': [55000, 65000, 70000, 60000, 58000]
})

# Your code here:
# find the average salary by department
avg_salary = df_employees.groupby('Department')['Salary'].mean()
print("Average salary by department:")
print(avg_salary)

# get the names of employees with salary > 60000
high_salary = df_employees[df_employees['Salary'] > 60000]['Name']
print("\nEmployees with salary > 60000:")
print(high_salary)

# add a new column 'Bonus' which is 10% of salary
df_employees['Bonus'] = df_employees['Salary'] * 0.1
print("\nDataFrame with Bonus column:")
print(df_employees)

Average salary by department:
Department
Finance    60000.0
HR         61500.0
IT         62500.0
Name: Salary, dtype: float64

Employees with salary > 60000:
1    Jane
2     Bob
Name: Name, dtype: object

DataFrame with Bonus column:
      Name Department  Salary   Bonus
0     John         IT   55000  5500.0
1     Jane         HR   65000  6500.0
2      Bob         IT   70000  7000.0
3    Alice    Finance   60000  6000.0
4  Charlie         HR   58000  5800.0